   .linear-loader-fullscreen {
    position: fixed;
    inset: 0;
    background-color: #84e0e8;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .linear-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
    background-color: #84e0e8;
    overflow: hidden;
  }
  
  .linear-loader-bar {
    height: 100%;
    background-color: #003366;
    transition: width 0.1s ease-out;
  }
  
  .linear-loader-message {
    font-size: 1.5rem;
    color: #003366;
    margin-top: 1rem;
  }
  