.chatbot-greeting {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 5px 0px;
    z-index: 1000;
    max-width: 170px;
    cursor: pointer;
  }
  
  .chatbot-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .chatbot-text {
    font-size: 14px;
    color: #333;
  }  